.list {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}

.match {
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0.25em;
  display: grid;
  width: 100%;
  grid-template-columns: 7em auto;
  cursor: pointer;
  transition: all 0.2s;
}

.match:first-child {
  border-top: solid 1px rgba(0, 0, 0, 0.25);
}

.match:hover {
  background: rgba(0, 0, 0, 0.1);
}

.time {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 1em 0.5em 0;
  font-size: 110%;
}

.teams {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.team {
  display: block;
  line-height: 1.6;
}

.emoji {
  padding-right: 1em;
}

.ground {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 90%;
}

.modify {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
}
