.container {
  margin: 1em;
}

.container h2 {
  font-weight: bold;
  height: 2rem;
}

.search {
  appearance: none;
  background-color: transparent;
  background-image: url(./arrow.svg);
  background-repeat: no-repeat;
  background-position: right 70%;
  background-size: auto 70%;
  border: none;
  font-size: 100%;
  font-weight: bold;
  padding-right: 1em;
}
